<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= root_path %>">Fleks</a>

    <div my-2 my-lg-0">
        <%= link_to 'Mine bestillinger', user_subscriptions_path %>
    </div>
</nav>